{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="./artStyle.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<body class="body">
  <div class="art">
    <div class="frame-2">
      <div class="frame-7">
        <img
          alt=""
          class="compass"
          src="https://static.overlay-tech.com/assets/757ed013-3834-4713-a8b2-8711d46b5610.svg"
        />
        <div class="frame-10"><button onclick="window.open(`main2.html`)" class="kontakty">Главная</button></div>
        <div class="frame-10"><button onclick="window.open(`Ordzha.html`)" class="kontakty">Карта</button></div>
        <div class="frame-10"><button onclick="window.open(`oNas.html`)" class="kontakty">О нас</button></div>
      </div>
      <button onclick="window.open(`input.html`)" class="frame-11"><p class="vhod">Вход</p></button>
    </div>
    <div class="frame-86">
      <img
      id="place-image"
      alt=""
      class="frame-73"
      src="Frame73.png"
      />
      <div id="place-info" style="background-color: rgba(197, 104, 104, 0.5);border: 1px solid #ccc;border-radius: 8px;padding: 10px;margin-bottom: 10px;word-wrap: break-word;overflow-wrap: break-word; width: 720px;">
        <h1 id="place-name" style="  color: rgba(115, 55, 55, 1);margin-bottom: 9px;letter-spacing: 0.72px;">Название объекта</h1>
        <div style="display: flex; flex-direction: row;">
          <p class="avtor-imja-familija">Автор:&nbsp;</p>
          <p id="autor-description" class="avtor-imja-familija"></p>
        </div>
        <div style="display: flex; flex-direction: row;">
          <p class="avtor-imja-familija">Адрес:&nbsp;</p>
          <p id="street" class="avtor-imja-familija">
          </p>
        </div>
        <p class="avtor-imja-familija-emphasis-0" id="place-description">Описание места</p>
      </div>
    </div>
    <!-- Форма для комментариев -->
    <div class="addCommenter">
      <h2>Добавить комментарий</h2>
      <form onsubmit="addComment(event)">
        <div>
          <textarea id="comment" maxlength="2192" required></textarea>
        </div>
        <div>
          <button class="addCommentButton" type="submit">Отправить</button>
        </div>
      </form>
    </div>

    <!-- Секция для отображения комментариев -->
    <div id="commentsSection">
      <h2 style="color: rgba(41, 108, 99, 1);">Комментарии</h2>
      <div id="commentsList">
        <!-- Здесь будут отображаться комментарии -->
      </div>
    </div>

    <div class="frame-3">
      <img
        alt=""
        class="compass-two"
        src="https://static.overlay-tech.com/assets/d326b5ec-204f-4bef-a085-eebf9e7dde34.svg"
      />
      <div>
        <div class="mainAndVk">
          <form action="https://mail.google.com/mail/u/0/#search/artekat196@gmail.com?compose=jrjtWvPDnJBBWmKptLwgxLlTqklCxfqQvxDgwfRBfQDlBkGLFkKWHgNqKHDMDFCRkPVjwXvb" target="_blank">
            <button class="mail"></button>
          </form>
          <form action="https://vk.com/id323571725" target="_blank">
            <button class="vk"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>

  // Функция для добавления комментариев
  function addComment(event) {
    event.preventDefault(); // Предотвращаем перезагрузку страницы при отправке формы

    var commentText = document.getElementById('comment').value;

    // Допустим, что пользователь уже зарегистрирован
    var username = 'John Doe';
    var avatarUrl = 'https://example.com/avatar.jpg';

    var newCommentContainer = document.createElement('div');
    newCommentContainer.className = 'frame-77 ';

    var avatar = document.createElement('img');
    avatar.src = avatarUrl;
    avatar.classNae = 'avatar';
    newCommentContainer.appendChild(avatar);

    var commentContent = document.createElement('div');
    commentContent.className = 'comment-text';
    commentContent.innerHTML = '<strong>' + username + ':</strong> ' + commentText;
    newCommentContainer.appendChild(commentContent);

    var commentsList = document.getElementById('commentsList');
    commentsList.appendChild(newCommentContainer);

    document.getElementById('comment').value = '';
  }



  const placeId = sessionStorage.getItem('selectedPlaceId'); // Получаем ID выбранного места

  // Можно использовать AJAX запрос для получения данных о месте по его ID
  // В данном примере используем статичные данные
  const placeData = {
      '1': {
          name: 'Место 1',
          autor: 'Anton',
          street: 'Gagarina',
          description: 'Описание места 1dsdfsdvdvsvsdvsvsvvsvsvsdvsdvdsdfsdvdvsvsdvsvsvvsvsvsdvsdvdsdfsdvdvsvsdvsvsvvsvsvsdvsdvdsdfsdvdvsvsdvsvsvvsvsvsdvsdvdsdfsdvdvsvsdvsvsvvsvsvsdvsdv1dsdfsdvdvsvsdvsvsvvsvsvsdvsdvdsdfsdvdvsvsdvsvsvvsvsvsdvsdvdsdfsdvdvsvsdvsvsvvsvsvsdvsdvdsdfsdvdvsvsdvsvsvvsvsvsdvsdvdsdfsdvdvsvsdvsvsvvsvsvsdvsdv',
          image: 'Frame73.png'
      },
      '2': {
          name: 'Место 2',
          autor: 'Alex',
          street: 'Leina',
          description: 'Описание места 2',
          image: 'Frame73.png'
      },
      '3': {
          name: 'Место 3',
          autor: 'Albert',
          street: 'Malish',
          description: 'Описание места 3',
          image: 'Frame73.png'
      },
      '41': {
          name: 'Европейская норка',
          autor: 'Руслан Сабиров',
          street: 'просп. Космонавтов, 66 Орджоникидзевский район',
          description: ' Руслан Сабиров, молодой уличный художник из Серова, поднимает в своей работе важную проблему, о которой в последнее время как-то не принято говорить. Он нарисовал Европейскую норку – хищное млекопитающее, которое занесено в Красную книгу Свердловской области и находится в первой категории животных на грани вымирания. «Таким образом я пытаюсь начать вести диалог со зрителями, подтолкнуть их задуматься. Сейчас это животное еще существует в природе, но очень велики шансы, что оно в ближайшее время исчезнет. Просто исчезнет, понимаете? И такого вида больше вообще не будет в природе».',
          image: 'Frame73.png'
      }
  };

  const selectedPlace = placeData[placeId]; // Получаем информацию о выбранном месте
  document.getElementById('place-name').textContent = selectedPlace.name;
  document.getElementById('autor-description').textContent = selectedPlace.autor;
  document.getElementById('street').textContent = selectedPlace.street;
  document.getElementById('place-description').textContent = selectedPlace.description;
  document.getElementById('place-image').src = selectedPlace.image;
</script>
</body>
</html>