body{
  font-family: "Raleway", sans-serif;
}

.body{
  margin: 0;
  overflow-x: hidden;
}
.art {
  background-color: rgba(237, 255, 250, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-2 {
  background: linear-gradient(
    180deg,
    rgba(139, 213, 203, 1) 0%,
    rgba(237, 255, 250, 1) 100%
  );
  margin-bottom: 25px;
  padding: 0 200px;
  display: flex;
  align-items: center;
}
.frame-7 {
  margin-right: 310px;
  display: flex;
  align-items: center;
}
.compass {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
.frame-10 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none !important;
}
.frame-10:not(:last-of-type) {
  margin-right: 20px;
}
.kontakty {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: rgb(41,108,99);
  letter-spacing: 0.72px;
  background: transparent;
  border: none !important;
}
.o-nas {
  color: rgba(41, 108, 99, 1);
  letter-spacing: 0.72px;
  font-family: var(--raleway-24-bold-family);
  font-size: var(--raleway-24-bold-size);
  font-weight: var(--raleway-24-bold-weight);
  line-height: var(--raleway-24-bold-line-height);
}
.frame-11 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 59px;
  margin-left: 260px;
  background: transparent;
  border: none !important;
}
.vhod {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 55px;
  color: rgb(41,108,99);
  text-align: center;
}
.frame-86 {
  margin-bottom: 50px;
  padding: 0 146px 80px 135px;
  display: flex;
  align-items: flex-start;

}
.frame-73 {
  margin-top: 25px;
  width: 620px;
  height: 520px;
  background-size: 100% 100%;
  margin-right: 100px;
  background-position: center;
  border-radius: 70px;
  box-shadow: 0 0 17px #296C63;
}
.frame-74 {
  background-color: rgba(151, 73, 73, 0.5);
  padding: 24px 467px 480px 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nazvanie-ob-ekta {
  color: rgba(115, 55, 55, 1);
  margin-bottom: 9px;
  letter-spacing: 0.72px;
  font-family: var(--raleway-24-bold-family);
  font-size: var(--raleway-24-bold-size);
  font-weight: var(--raleway-24-bold-weight);
  line-height: var(--raleway-24-bold-line-height);
}
.num-4-zvezdy {
  width: 175px;
  height: 25px;
  margin-bottom: 9px;
}
.avtor-imja-familija {
  color: rgba(115, 55, 55, 1);
  font-family: var(--raleway-24-semi-bold-family);
  font-size: var(--raleway-24-semi-bold-size);
  font-weight: var(--raleway-24-semi-bold-weight);
  line-height: var(--raleway-24-semi-bold-line-height);
}
.avtor-imja-familija:not(:last-of-type) {
  margin-bottom: 9px;
}
.avtor-imja-familija-emphasis-0 {
  color: rgba(115, 55, 55, 1);
  letter-spacing: 0.72px;
  font-family: var(--raleway-24-bold-family);
  font-size: var(--raleway-24-bold-size);
  font-weight: var(--raleway-24-bold-weight);
  line-height: var(--raleway-24-bold-line-height);
}
.frame-77 {
  background-color: rgba(197, 104, 104, 0.5);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;

}
.ellipse-3 {
  width: 50px;
  height: 50px;
  background-color: rgba(237, 255, 250, 1);
  margin-right: 19px;
  border-radius: 50%;
}
.flex-wrapper-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.imja-familija {
  height: 25px;
  width: 135px;
  color: rgba(115, 55, 55, 1);
  display: flex;
  align-items: center;
  font-family: var(--raleway-20-semi-bold-family);
  font-size: var(--raleway-20-semi-bold-size);
  font-weight: var(--raleway-20-semi-bold-weight);
  line-height: var(--raleway-20-semi-bold-line-height);
}
.num-5-zvezd {
  width: 175px;
  height: 25px;
}
.frame-3 {
  background: linear-gradient(
    0deg,
    rgba(139, 213, 203, 1) 0%,
    rgba(237, 255, 250, 1) 100%
  );
  padding: 20px 342px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.comment-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 1820px;
}
.comment-text {
  color: #333;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.addCommenter {
  position: relative;
  color: rgba(41, 108, 99, 1);
}
.addCommentButton {
  color: white;
  background: #296C63;
  padding: 10px;
  border-radius: 25px;
  border: none !important;
  text-align: center;
}
.compass-two {
  width: 75px;
  height: 75px;
  margin-right: 600px;
}
.vk{
  height: 70px;
  width: 70px;
  background-image: url("../media/vk.svg");
  border: none !important;
  border-radius: 20px;
}
.mail{
  height: 70px;
  width: 70px;
  margin-right: 10px;
  background-image: url("../media/mail.svg");
  border: none !important;
  border-radius: 20px;
}
.mainAndVk{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.starStyle{
  border: none;
  background-color: transparent;
  font-size: 23px;
  width: 23px;
}
.avtor-imja-familija-1{
  display: flex;
  position: absolute;
  top: 0;
  right: -20px;
}
.active{
  color: yellow;
}
.my-form
{
  width: 700px;
  border-radius: 13px;
  padding: 15px;
  border: 3px solid black;
  background-color: rgba(197, 104, 104, 0.5);
  resize: vertical;
  min-height: 50px;
}
.govno-2{
  margin-top: 15px;
  margin-left: -10px;
}
.comment-container{
  width: 1000px;

}
.comments-1{
  text-align: center;
}
.net-otzyv{
  font-weight: 500;
  color: rgba(41, 108, 99, 1);
  font-size: 16px;
}