body{
  font-family: "Raleway" ,sans-serif;
}
.body{
  margin: 0;
  overflow-x: hidden;
}
.vhod-two {
    background-color: rgb(237,255,250);
    overflow: hidden;
    padding: 980px 0 0;
    position: relative;
  }
  .relative-wrapper-one {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: -280px;
    top: 0px;
  }
  .frame-14 {
    width: 100%;
    height: 110px;
    background: linear-gradient(
      180deg,
      rgb(139,213,203) 0%,
      rgb(237,255,250) 100%
    );
    position: absolute;
  }
  .flex-wrapper-one {
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/cb948451-2123-446a-9c34-cf50bb8e41f0.svg");
    padding: 280px 1050px 288.13px 1050px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .vhod {
    font-size: 34px;
    color: rgb(41,108,99);
    margin-bottom: 45px;
    margin-left: 150px;
    letter-spacing: 1.6px;
    font-weight: 700;
    line-height: var(--raleway-32-bold-line-height);
  }
  .frame-15 {
    background-color: rgb(139,213,203);
    margin-bottom: 45px;
    padding: 10px 554px 10px 10px;
    display: flex;
    align-items: center;
  }
  .login {
    background-color: rgb(139,213,203);
    color: white;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: -90px;
    border: 2px solid black;

    width: 550px;
    border-radius: 20px;

  }
  .zaregistrirovat-sja:hover {
    color: rgb(231, 115, 115);
  }
   .zaregistrirovat-sja:active {
    color: rgb(196, 90, 90);
  }
  .inputButton {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    background-color: rgb(139,213,203);
    letter-spacing: 1.2px;
    align-self: center;
    margin-left: -105px;
    font-family: var(--raleway-24-semi-bold-family);
    font-size: 20px;
    font-weight: 500;
    line-height: var(--raleway-24-semi-bold-line-height);
    padding:  12px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
  }
  .inputButton:hover {
    background-color: rgb(130, 201, 192);
  }
  .inputButton:active {
    background-color: rgb(116, 187, 178);
  }
  .frame-16 {
    background-color: rgb(139,213,203);
    margin-bottom: 36px;
    padding: 10px 537px 10px 10px;
    display: flex;
    align-items: center;
  }
  .frame-17 {
    background-color: rgb(139,213,203);
    margin-bottom: 30px;
    margin-left: 157px;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-wrapper-two {
    padding: 0 0 0 126px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .net-akkaunta {
    color: rgb(41,108,99);
    margin-top: 15px;
    margin-left: -122px;
    letter-spacing: 1.2px;
    font-family: var(--raleway-24-semi-bold-family);
    font-size: 22px;
    font-weight: var(--raleway-24-semi-bold-weight);
    line-height: var(--raleway-24-semi-bold-line-height);
  }
  .zaregistrirovat-sja {
    color: rgb(151,73,73);
    text-decoration: underline;
    letter-spacing: 1.2px;
    font-size: 22px;

    background: transparent;
    margin-top: 14px;
    border: none !important;
    cursor:pointer;
  }
  .frame-3 {
    background: linear-gradient(
      0deg,
      rgb(139,213,203) 0%,
      rgb(237,255,250) 100%
    );
    padding: 12.5px 495px 12.5px 600px;
    display: flex;
    align-items: center;
  }
  .compass {
    width: 75px;
    height: 75px;
    margin-left: -11.51%;
    margin-right: 89.82%;
  }
  .mail {
    width: 70px;
    height: 70px;
  }
  .mail:not(:last-of-type) {
    margin-right: 10px;
  }
  .mainAndVk{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
    .vk{
    height: 70px;
    width: 70px;
    background-image: url("../media/vk.svg");
    border: none !important;
    border-radius: 20px;
    margin-left:5%;
    cursor: pointer;
    box-shadow: 0 0 10px #296C63;
  }
    .vk:hover {
    opacity: 90%;
  }
  .vk:active {
    opacity: 80%;
  }
  .mail{
    height: 70px;
    width: 70px;
    margin-right: 10px;
    background-image: url("../media/mail.svg");
    border: none !important;
    border-radius: 20px;
    box-shadow: 0 0 10px #296C63;
  }
  .mail:hover {
    opacity: 90%;
  }
  .mail:active {
    opacity: 80%;
  }
  .mainAndVk{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }