body{
  font-family: "Raleway", sans-serif;
}
.body{
  margin: 0;
  overflow-x: hidden;
}
.o-nas {
  background-color: rgba(237, 255, 250, 1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.frame-94 {
  padding: 0 0 48.87px;
  position: relative;
}
.online-learning-concept {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 100px;
  top: 528px;
}
.group-2 {
  margin-left: -100px;
  position: relative;
}
.frame {
  width: 640px;
  height: 420px;
  position: absolute;
  right: 300px;
  top: 300px;
}
.servis-napravlen-na-povyshenie-osvedomlen {
  max-width: 720px;
  font-size: 19px;
  font-weight: 500;
  line-height: 31px;
  color: rgba(41, 108, 99, 1);
  text-align: center;
  position: absolute;
  right: 420px;
  bottom: 193px;
}
.my-komanda-pargelij-i-my-predstavljaem-n {
  height: 274px;
  width: 890px;
  font-size: 19px;
  font-weight: 500;
  line-height: 31px;
  color: rgba(41, 108, 99, 1);
  display: flex;
  text-align: center;
  position: absolute;
  left: 90px;
  top: 270px;
}
     .kontakty:hover {
    color: rgb(24, 162, 154);
  }
  .kontakty:active {
    color: rgb(33, 133, 114);
  }

     .vhod:hover {
    color: rgb(24, 162, 154);
  }
  .vhod:active {
    color: rgb(33, 133, 114);
  }
.frame-3 {
   background: linear-gradient(
      0deg,
      rgb(141,214,204) 0%,
      rgb(237,255,250) 100%
    );
    padding: 12.5px 800px 12.5px 700px;
    display: flex;
    align-items: center;
    right: -2px;
    bottom: 0;
}
.compass {
  width: 75px;
  height: 75px;
  margin-left: -269px;
  margin-right: 460px;
}
.frame-2 {
  background: linear-gradient(
    180deg,
    rgb(141,214,204) 0%,
    rgb(237,255,250) 100%
  );
  padding: 12.5px 310px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.frame-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  left: 500px;
  width: 534px;
}
.compass1 {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
.frame-10 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-11 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 59px;
  margin-left: 522px;
  background: transparent;
  border: none !important;
}
.kontakty {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: rgb(41,108,99);
  letter-spacing: 0.72px;
  background: transparent;
  border: none !important;
  cursor: pointer;
  text-shadow: 0 0 20px #296C63;
}
.vhod {
  font-size: 24px;
    font-weight: 700;
    line-height: 55px;
    color: rgb(41,108,99);
    text-align: center;
    cursor: pointer;
    text-shadow: 0 0 20px #296C63;
}
.vk{
  height: 70px;
  width: 70px;
  background-image: url("../media/vk.svg");
  border: none !important;
  border-radius: 20px;
  cursor: pointer;

  box-shadow: 0 0 10px #296C63;
}
.vk:hover {
    opacity: 90%;
  }
  .vk:active {
    opacity: 80%;
  }
.mail{
  height: 70px;
  width: 70px;
  margin-right: 10px;
  background-image: url("../media/mail.svg");
  border: none !important;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px #296C63;
}
.mail:hover {
    opacity: 90%;
  }
  .mail:active {
    opacity: 80%;
  }
.mainAndVk{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}