body{
  font-family: "Raleway" ,sans-serif;
}
.body{
    margin: 0;
    overflow-x: hidden;
  }
.registracija-two {
    background-color: rgb(237,255,250);
    overflow: hidden;
    padding: 980px 0 0;
    position: relative;
  }
  .relative-wrapper-one {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: -280px;
    top: 0;
  }
  .frame-14 {
    width: 1920px;
    height: 140px;
    background: linear-gradient(
      180deg,
      rgb(139,213,203) 0%,
      rgb(237,255,250) 100%
    );
    position: absolute;
    top: -5px;
  }
  .flex-wrapper-one {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/e98bf089-4749-473f-a27f-e73ebcdb215a.svg");
    padding: 280px 641.62px 301.13px 743px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .registracija {
    color: rgb(41,108,99);
    font-weight: 600;
    margin-bottom: 45px;
    margin-left: 190px;
    letter-spacing: 1.6px;
    font-family: var(--raleway-32-bold-family);
    font-size: 30px;
    line-height: var(--raleway-32-bold-line-height);
  }
  .frame-15 {
    background-color: rgb(139,213,203);
    margin-bottom: 45px;
    padding: 10px 554px 10px 10px;
    display: flex;
    align-items: center;
  }
  .login {
    background-color: rgb(139,213,203);
    color: white;
    letter-spacing: 1.2px;
    font-family: var(--raleway-24-semi-bold-family);
    font-size: 18px;
    font-weight: 400;
    line-height: var(--raleway-24-semi-bold-line-height);
    border: 0;
    padding: 15px;
    margin-bottom: 25px;
    width: 600px;
  }
  .frame-16 {
    background-color: rgb(139,213,203);
    margin-bottom: 20px;
    padding: 10px 537px 10px 10px;
    display: flex;
    align-items: center;
  }
  .frame-17 {
    background-color: rgb(139,213,203);
    margin-bottom: 10px;
    margin-left: 157px;
    padding: 10px 71px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-wrapper-two {
    padding: 0 0 0 126px;
    display: flex;
    flex-direction: row;
  }
  .uzhe-est-akkaunt {
    margin-left: 10px;
    margin-top: 15px;
    color: rgb(41,108,99);
    letter-spacing: 1.2px;
    font-size: 24px;
    font-weight: var(--raleway-24-semi-bold-weight);
    line-height: var(--raleway-24-semi-bold-line-height);
    
  }

  .vojti {
    margin-top: -6px;
    color: rgb(151,73,73);
    text-decoration: underline;
    letter-spacing: 1.2px;
    font-family: var(--raleway-24-semi-bold-family);
    font-size: 24px;
    font-weight: var(--raleway-24-semi-bold-weight);
    line-height: var(--raleway-24-semi-bold-line-height);
    background: transparent;
    border: none !important;
  }
  .vojti:hover {
    color: rgb(231, 115, 115);
  }
   .vojti:active {
    color: rgb(196, 90, 90);
  }
  .frame-3 {
    background: linear-gradient(
      0deg,
      rgb(139,213,203) 0%,
      rgb(237,255,250) 100%
    );
    padding: 12.5px 495px 12.5px 600px;
    display: flex;
    align-items: center;
  }
  .compass {
    width: 75px;
    height: 75px;
    margin-right: 600px;
  }
  .mainAndVk{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .mail {
    width: 70px;
    height: 70px;
  }
  .mail:not(:last-of-type) {
    margin-right: 10px;
  }
  .inputButton {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(139,213,203);
    letter-spacing: 1.2px;

    font-family: var(--raleway-24-semi-bold-family);
    font-size: 22px;
    font-weight: 400;
    line-height: var(--raleway-24-semi-bold-line-height);
    padding:  10px 50px 10px 50px;
    margin-left: 150px;
    border: 0px;
  }
  .inputButton:hover {
      background-color: rgb(130, 201, 192);
  }
  .inputButton:active {
    background-color: rgb(116, 187, 178);
  }
    .vk{
    height: 70px;
    width: 70px;
    background-image: url("../media/vk.svg");
    border: none !important;
    border-radius: 20px;
  }
  .mail{
    height: 70px;
    width: 70px;
    margin-right: 10px;
    background-image: url("../media/mail.svg");
    border: none !important;
    border-radius: 20px;
  }
  .mainAndVk{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
