{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход - ArtEkat</title>
</head>
<link rel="stylesheet" href="{% static "deps/css/inputStyle.css"%}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<body class="body">
    <form action="{% url "users:login" %}" method = "post">
        {% csrf_token %}
        <div class="vhod-two">
            <div class="relative-wrapper-one">
              <div class="frame-14"></div>
              <div class="flex-wrapper-one">
                <p class="vhod">Вход</p>
                {% if form.non_field_errors %}
                        <p>{{ form.non_field_errors }}</p>
                {% endif %}
                <input class="login" type="text" name="username" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="id_username" placeholder="Введите логин" required>
                <input class="login" type="password" name="password" minlength="0" id="id_password" placeholder="Введите пароль" required>
                <button class="inputButton">Войти в аккаунт</button>
            <div class="flex-wrapper-two">
              <span class="net-akkaunta">Нет&nbsp;аккаунта?</span>
              <button onclick="window.open(`{% url "users:registration" %}`)" class="zaregistrirovat-sja">
                  Зарегистрироваться
              </button>
            </div>
              </div>
            </div>
            <div class="frame-3">
              <img
                alt=""
                class="compass"
                src="https://static.overlay-tech.com/assets/c1903476-d21a-4804-a1fa-36dbd6098ff9.svg"
              />
              <div>
            <div class="mainAndVk">
              <form action="https://mail.google.com/mail/u/0/#search/artekat196@gmail.com?compose=jrjtWvPDnJBBWmKptLwgxLlTqklCxfqQvxDgwfRBfQDlBkGLFkKWHgNqKHDMDFCRkPVjwXvb" target="_blank">
                <button class="mail"></button>
              </form>
              <form action="https://vk.com/id323571725" target="_blank">
                  <button class="vk"></button>
              </form>
            </div>
          </div>
            </div>
        </div>
    </form>
</body>
</html>