{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация - ArtEkat</title>
</head>
<link rel="stylesheet" href={% static "deps/css/registerStyle.css"%}/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
<body class="body">
    <form action="{% url 'users:registration' %}" method="post">
            {% csrf_token %}
        <div class="registracija-two">
            <div class="relative-wrapper-one">
              <div class="frame-14"></div>
              <div class="flex-wrapper-one">
                <p class="registracija">Регистрация</p>
                        <input class="login" type="text" name="username" maxlength="15" minlength="4"
                               id="id_username" placeholder="Введите логин"
                               value = "{% if form.password.value %}{{ form.password.value }}{% endif %}" required>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors}}</div>
                        {% endif %}
                        <input class="login" type="password" name="password1"
                               value = "{% if form.password1.value %} {{ form.password1.value }}{% endif %}"
                               minlength="0" id="id_password1" placeholder="Введите пароль" required>
                        {% if form.password1.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.password1.errors }}</div>
                        {% endif %}
                        <input class="login" type="password" name="password2"
                               value = "{% if form.password2.value %} {{ form.password2.value }}{% endif %}"
                               minlength="0" id="id_password2" placeholder="Подтвердите пароль" required>
                        {% if form.password2.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.password2.errors }}</div>
                        {% endif %}

                <button class="login">Зарегистрироваться</button>

                <div class="flex-wrapper-two">
                  <p class="uzhe-est-akkaunt">Уже есть аккаунт?</p>
                  <button onclick="window.open(`{% url "users:login" %}`)" class="vojti">Войти</button>
                </div>
              </div>
            </div>
            <div class="frame-3">
              <img
                alt=""
                class="compass"
                src="https://static.overlay-tech.com/assets/5d39dd36-f1cf-46f0-af7b-ede6b5e210cb.svg"
              />
              <div>
                <div class="mainAndVk">
                    <img
                    alt=""
                    class="mail"
                    src="https://static.overlay-tech.com/assets/5f45eb8a-7019-4466-9034-b30f6ed00a19.svg"
                    />
                    <img
                    alt=""
                    class="mail"
                    src="https://static.overlay-tech.com/assets/2c6719c0-3c27-4139-9d74-a34b43f0ab34.svg"
                    />
                </div>
              </div>
            </div>
          </div>
    </form>>
</body>
</html>
