{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - ArtEkat</title>
</head>
<link rel="stylesheet" href="{% static "deps/css/main2.css"%}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<body class="body">
    <div class="glavnaja">
        <div class="frame-2">
          <div class="frame-7">
            <img
              alt=""
              class="compass"
              src="https://static.overlay-tech.com/assets/6a2b1154-5ade-42dd-a20a-10e0e46a9fc9.svg"
            />
            <div class="frame-10">
                <button onclick="window.open('{% url "main:index" %}')" class="kontakty">Главная</button>
            </div>
            <div class="frame-10">
                <button onclick="window.open('{% url "main:contacts" %}')" class="kontakty">Контакты</button>
            </div>
            <div class="frame-10">
                <button onclick="window.open('{% url "map:map" %}')" class="kontakty">Карта</button>
            </div>
            {% if not user.is_authenticated %}
          <button onclick="window.open(`{% url "users:login" %} `)" class="frame-11"><p class="vhod">Вход</p></button>
          {% else %}
              <p class="vhod">{{ user }}</p>
            {% endif %}
          </div>
        </div>
        <div class="frame-79">
          <img
            alt=""
            class="group-2"
            src="https://static.overlay-tech.com/assets/cb948451-2123-446a-9c34-cf50bb8e41f0.svg"
          /><img
            alt=""
            class="group-3"
            src="https://static.overlay-tech.com/assets/7a13c1b3-6ee3-48ad-98ef-7dd12e3a638c.png"
          />
          <p class="interaktivnaja-karta-art-ob-ektov-goroda">
          </p>
          <h1 class="art-ekat-h1"></h1>
          <p class="proekt-sozdannyj-komandoj-jentuziastov">
          </p>
        </div>
        <div class="frame-3">
          <img
            alt=""
            class="compass-two"
            src="https://static.overlay-tech.com/assets/6a2b1154-5ade-42dd-a20a-10e0e46a9fc9.svg"
          />
          <div>
            <div class="mainAndVk">
                <img
                alt=""
                class="mail"
                src="https://static.overlay-tech.com/assets/5f45eb8a-7019-4466-9034-b30f6ed00a19.svg"
                />
                <img
                alt=""
                class="mail"
                src="https://static.overlay-tech.com/assets/2c6719c0-3c27-4139-9d74-a34b43f0ab34.svg"
                />
            </div>
          </div>
        </div>
      </div>
</body>
</html>