{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - ArtEkat</title>
    <link rel="shortcut icon" type="image/png" href="{% static "deps/media/logo.svg" %}"/>
</head>
<link rel="stylesheet" href="{% static "deps/css/main2.css" %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<body class="body">
    <div class="glavnaja">
        <div class="frame-2">
          <div class="frame-7">
            <img
              alt=""
              class="compass"
              src="https://static.overlay-tech.com/assets/6a2b1154-5ade-42dd-a20a-10e0e46a9fc9.svg"
            />
            <div class="frame-10">
              <button onclick="window.open(`{% url "main:contacts" %}`)" class="kontakty">Контакты</button>
            </div>
            <div class="frame-10">
              <button onclick="window.open(`{% url "map:map" %}`)" class="kontakty">Карта</button>
            </div>
            <div class="frame-10">
              <button onclick="window.open(`{% url "main:about" %}`)" class="kontakty">О&nbsp;нас</button>
            </div>
              {% if not user.is_authenticated %}
            <button onclick="window.open(`{% url "user:login" %}`)" class="frame-11"><p class="vhod">Вход</p></button>
              {% else %}
              <p class="vhod frame-11">{{ user }}</p>
            {% endif %}
          </div>
        </div>
        <div class="frame-79">
          <img
            alt=""
            class="group-2"
            src="https://static.overlay-tech.com/assets/cb948451-2123-446a-9c34-cf50bb8e41f0.svg"
          /><img
            alt=""
            class="group-3"
            src="{% static "deps/media/Location.png"%}"
          />
          <p class="interaktivnaja-karta-art-ob-ektov-goroda">
            Интерактивная карта арт-объектов города Екатеринбурга,
            с описанием, возможностью фильтрации по типам
            достопримечательностей и готовыми маршрутами.
          </p>
          <h1 class="art-ekat-h1">ArtEkat</h1>
          <p class="proekt-sozdannyj-komandoj-jentuziastov">
            Арт-объекты не вечны - цените момент и наслаждайтесь уличным искусством, пока его не закрасили,
            не демонтировали или оно не рассыпалось само собой.
          </p>
          <img
            alt=""
            class="LocationPin1"
            src={% static "deps/media/LocationPin1.png"%}
          />
          <img
            alt=""
            class="LocationPin2"
            src={% static "deps/media/LocationPin2.png"%}
          />
          <img
            alt=""
            class="LocationPin3"
            src={% static "deps/media/LocationPin3.png"%}
          />
          <img
            alt=""
            class="LocationPin4"
            src={% static "deps/media/LocationPin4.png"%}
          />

          <img
            alt=""
            class="spinning-image11"
            src={% static "deps/media/Cloud.png"%}
          />
          <img
            alt=""
            class="spinning-image12"
            src={% static "deps/media/Cloud.png"%}
          />
          <img
            alt=""
            class="spinning-image13"
            src={% static "deps/media/Cloud.png"%}
          />
          <img
            alt=""
            class="spinning-image14"
            src={% static "deps/media/Cloud.png"%}
          />
          <img
            alt=""
            class="spinning-imageAnti21"
            src={% static "deps/media/Cloud2.png"%}
          />
          <img
            alt=""
            class="spinning-imageAnti22"
            src={% static "deps/media/Cloud2.png"%}
          />
          <img
            alt=""
            class="spinning-imageAnti23"
            src={% static "deps/media/Cloud2.png"%}
          />
          <img
            alt=""
            class="spinning-imageAnti31"
            src={% static "deps/media/Cloud3.png"%}
          />
          <img
            alt=""
            class="spinning-imageAnti32"
            src={% static "deps/media/Cloud3.png"%}
          />
          <img
            alt=""
            class="spinning-imageAnti33"
            src={% static "deps/media/Cloud3.png"%}
          />
          <img
            alt=""
            class="spinning-imageAnti34"
            src={% static "deps/media/Cloud3.png"%}
          />
        </div>
        <div class="frame-3">
          <img
            alt=""
            class="compass-two"
            src="https://static.overlay-tech.com/assets/9e13adef-cd6a-4187-9315-6e9551029c9a.svg"
          />
          <div>
            <div class="mainAndVk">
              <form action="https://mail.google.com/mail/u/0/#search/artekat196@gmail.com?compose=jrjtWvPDnJBBWmKptLwgxLlTqklCxfqQvxDgwfRBfQDlBkGLFkKWHgNqKHDMDFCRkPVjwXvb" target="_blank">
                <button class="mail"></button>
              </form>
              <form action="https://vk.com/id323571725" target="_blank">
                  <button class="vk"></button>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>