# Default ignored files
/shelf/
/workspace.xml
.venv/
__pycache__/
.idea
db.sqlite3
media/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
