{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта - ArtEkat</title>
</head>
<link rel="stylesheet" href="{% static "deps/css/mapStyle.css" %}"/>
<style>
  @import url('https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900');
</style>
<body>
    <div class="karta">
        <div class="relative-wrapper-one">
          <div class="group-1">
            <div class="flex-wrapper-one">
              <div class="flex-wrapper-two">
                <img
                    alt=""
                    class="post"
                    src="https://static.overlay-tech.com/assets/43c5983a-3d2e-48b0-add5-4f73581764a3.svg"
                />
                <img
                    alt=""
                    class="vk"
                    src="https://static.overlay-tech.com/assets/1a4c74e3-b0ad-452f-af56-33c80a523934.svg"
                />
                <img
                  alt=""
                  class="vector-3"
                  src="https://static.overlay-tech.com/assets/0e9551c6-82d5-48da-990c-91dfbaaa9a5d.svg"
                /><img
                  alt=""
                  class="vector-4"
                  src="https://static.overlay-tech.com/assets/5a474ce2-96d0-45b6-ae82-ba29f4917282.svg"
                />
              </div>
              <img
                alt=""
                class="vector-5"
                src="https://static.overlay-tech.com/assets/b58ea772-c647-4ff8-80ae-e17fa15c21a8.svg"
              /><img
                alt=""
                class="vector-6"
                src="https://static.overlay-tech.com/assets/615c668f-17c8-4898-8ebd-ed761c623d5f.svg"
              />
              <div class="flex-wrapper-three">
                <img
                  alt=""
                  class="vector-7"
                  src="https://static.overlay-tech.com/assets/c2d75099-97c6-4130-a0b9-078f6cd0f8ed.svg"
                /><img
                  alt=""
                  class="vector-8"
                  src="https://static.overlay-tech.com/assets/6560be93-2884-433a-8f1f-4d7069d49fb8.svg"
                />
              </div>
              <img
                alt=""
                class="vector-9"
                src="https://via.placeholder.com/126.5x90.5"
              /><img
                alt=""
                class="vector-10"
                src="https://static.overlay-tech.com/assets/86dfce3e-d1d0-402d-aa23-ac39b2958b99.svg"
              /><img
                alt=""
                class="vector-11"
                src="https://static.overlay-tech.com/assets/5ebeaad5-bae2-4503-bfed-0516cb71cb3f.svg"
              /><img
                alt=""
                class="vector-12"
                src="https://static.overlay-tech.com/assets/1d79a2af-0d89-4f99-be41-484eaa2d544d.svg"
              />
            </div>
            <img
              alt=""
              class="vector-21"
              src="https://static.overlay-tech.com/assets/754d8ef0-2326-4f9f-868a-adb90c142b16.svg"
            />
          </div>
          <img
            alt=""
            class="group-2"
            src="https://static.overlay-tech.com/assets/6ba16ca5-ffd4-404f-b6c0-e726ee06743c.svg"
          />
          <div class="frame-27">
            <div class="group-12">
              <div class="frame-26">
                <button class="frame-28"><p class="glavnaja"><a href={% url "main:index"%}>Главная</a></p></button>
              </div>
              <button onclick="window.open(`inputInSys.html`)" class="frame-28"><p class="vhod">Вход</p></button>
              <button class="frame-28"><p class="vhod">О нас</p></button>
            </div>
            <img
              alt=""
              class="group-7"
              src="https://static.overlay-tech.com/assets/dad6bf7f-e8a3-484c-9754-98ac15893ea4.svg"
            />
          </div>
        </div>
        <button class="frame-41">Фильтр</button>
        <div><!-- Include here the component "Frame23" --></div>
        <img
          alt=""
          class="group-5"
          src="https://static.overlay-tech.com/assets/a3cb24c9-e068-405d-b5ed-c87c9e23096a.svg"
        />
      </div>
</body>
</html>